*
{
	margin:0;
	padding:0;
}
body
{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.container
{
    width:1200px;
    height:400px;
    background-color:transparent;
    margin:150px auto;
    box-sizing:border-box;
    border-radius: 60px 20px;
    box-shadow: 2px 3px 16px 3px  #413737;
    
}

.header
{
	width:100%;
	height:50px;
	background-color:rgb(19, 214, 9);
}
.header h3
{
    color: rgb(255, 4, 54);
	float:left;
	padding:10px 50px;
}
.header ul
{
	float:right;
	list-style-type:none;
}

.header ul li
{
	display:inline-block;
	width:100px;
}
.header ul li a
{
	font-size:15px;
	text-decoration:none;
	color:#000;
	font-style:oblique;
	line-height:45px;
}
.header ul li a:hover
{
	color:blue;
	font-weight:bold;
}
.box1
{
    color:red;
   padding: 15% 35%;
}
.visit
{
    color: rgb(255, 184, 5);
    
}